# Dados brutos e processados
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/feature_map.json
data/interim/
mlruns/*


# Ambiente virtual
.venv/
__pycache__/
*.pyc

# Arquivos temporários
*.log
.DS_Store

# Notebooks convertidos
.ipynb_checkpoints/

# Configs locais
.env
data/raw/
.venv/
logs/*
